<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jmd.db.dao.ProvinceDao">

    <resultMap id="provinceResultMap" type="com.jmd.model.district.Province">
        <result property="id" column="id"/>
        <result property="province" column="province"/>
        <result property="adcode" column="adcode"/>
    </resultMap>

    <insert id="insert" parameterType="com.jmd.model.district.Province">
        INSERT INTO tb_province(province, adcode) VALUES (#{province}, #{adcode})
    </insert>

    <select id="isExist" resultType="java.lang.Integer">
        SELECT count() FROM tb_province WHERE adcode=#{adcode}
    </select>

    <select id="queryAll" resultMap="provinceResultMap">
        SELECT * FROM tb_province
    </select>

</mapper>